<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <style>

        #error{
            color:red;
        }
        #user-info{
            color:gray;
        }
        .lightgray-table{
            color:lightgray;
        }

    </style>
</head>
<body>

<div style="background-color:black;">
<div class="container" style="background-color:black;">
<div class="row align-items-center" >


    <div class="col">
        <br>
        <br>
    <form class="form-inline" action="{{ url_for('get_weather')}}" method="post">
        <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" name="location" placeholder="{% if geocode %} {{ geocode.get_address_str(2)}} {% else %} Alexandria, VA {% endif %}">

        <button class="btn btn-primary" type="submit" value="Submit">Get Weather</button>
    </form>
        <br><br>
    </div>

    <div class="col" id="error">
    <!--MESSAGE FLASHING EXAMPLE -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}

            <br>
            {% for message in messages %}
            {% if message %}
            {{message}} <br>
            {% endif %}
            {% endfor %}

        {% endif %}
        {% endwith %}

    </div>
    
    <div class="col-push" id="user-info">
        <table><tbody>
        <tr>
            <td class="text-right">IP: </td><td class="lightgray-table"> {{ip}}</td>
        </tr>
        {% if geocode %}
        <tr>
        <td class="text-right">Coordinate: </td><td class="lightgray-table"> {{"{:.5f}".format( geocode.latitude)}}, {{"{:.5f}".format( geocode.longitude)}}</td>
        </tr><tr>
        <td class="text-right">Location: </td> <td class="lightgray-table"> {{geocode.get_address_str()}}</td>
        </tr>
        {% endif %}
        <tr>
        <td class="text-right">Forecast Found: </td><td class="lightgray-table"> {% if weather and weather[0] %} True {% else %} False {%endif%} </td>
        </tr><tr>
        <td class="text-right">Hourly Forecast Found: </td><td class="lightgray-table"> {% if weather and weather[1] %} True {% else %} False {%endif%}</td>
        </tr>

        </tbody>
        </table>
    </div>
    </div>
</div>
<br>
</div>

<div class="container">


    <div class="row">

        <div class="col">
        <br><br>


        {% if geocode and weather %}
        <h4><center>{{geocode.get_address_str()}}</center></h4>
        <br>
        {% endif %}
        <div class="row">
            <div class="col">
                {% if weather and weather[0]%}
                    <table class="table table-striped"><tbody>
                    {% for forecast in weather[0] %}
                    <tr>
                        <td style="white-space: nowrap;color:gray;">{{forecast["name"]}}</td>
                        <td class="text-right">{{ forecast["shortForecast"] }}, {{ forecast["temperature"]}}{{ forecast["temperatureUnit"]}}</td>
                    </tr>
                    {% endfor %}

                    </tbody></table>
                {% endif %}
            </div>
            <div class="col">
            {% if weather and weather[1]%}
                <table class="table table-striped"><tbody>
                    {% for forecast in weather[1][:15] %}

                    <tr>
                        <td style="white-space: nowrap;color:gray;">{{forecast["endTime"]}}</td>
                        <td class="text-right">{{ forecast["shortForecast"] }}, {{ forecast["temperature"]}}{{ forecast["temperatureUnit"]}}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody></table>
                </div>

            </div>
            </div>
    </div>

</div>
</body>
</html>